.App {
  text-align: center;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.search-field {
  margin: 64px auto 32px;
}

.current-weather {
  display: flex;
  margin-top: 64px;
  &__details {
    display: flex;
    flex-direction: column;
  }
  &__image {
    margin-top: 24px;
  }
}

.day-card {
  margin-top: 64px;
  width: 160px;
}